.menu {
    background-color: #36393f;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#logo {
    height: 4em;
    padding-left: .75em;
    padding-right: .75em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin: .25em;
}

.menu a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5em;
    padding-left: .6em;
    padding-right: .6em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: .25em;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: .12em;
    transition: all 0.3s;
}
.menu a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.menu a:active {
    transition: none;
    transform: translateY(.025em);
}

.ben {
}
.tristan {
}
.wyatt {
}
.ethan {
}

.ben:hover {
    color: #ffd294 !important; 
    background-color: #ffd29417;
}
.tristan:hover {
    color: #fcaecf !important;
    background-color: #fcaecf17;
}
.wyatt:hover {
    color: #bda6ff !important;
    background-color: #bda6ff17;
}
.ethan:hover {
    color: #a3eff7 !important;
    background-color: #a3eff717;
}