[v-cloak] {
    display: none;
}

.orange {
    color: white;
    border-color: rgb(255, 210, 148);
    border: 0px;
}

.orange:hover {
    color: rgb(255, 210, 148);
    background-color: rgb(255, 210, 148, .1);
}

.orange:focus {
    box-shadow: rgb(255, 210, 148 / 50%) 0px 0px 0px 0.25rem;;
}

.orange.active, .orange:active {
    background-color: rgb(255, 210, 148, .1);
    border-color: rgb(255, 210, 148);
    border: 0px;
}

.orange:active:focus, .orange.active:focus {
    box-shadow: rgb(255, 210, 148 / 50%) 0px 0px 0px 0.25rem;
}

.blue {
    color: white;
    border-color: rgb(163, 239, 247);
    border: 0px;
}

.blue:hover {
    color: rgb(163, 239, 247);
    background-color: rgb(163, 239, 247, .1);
}

.blue:focus {
    box-shadow: rgb(163, 239, 247 / 50%) 0px 0px 0px 0.25rem;;
}

.blue.active, .blue:active {
    background-color: rgb(163, 239, 247, .1);
    border-color: rgb(163, 239, 247);
    border: 0px;
}

.blue:active:focus, .blue.active:focus {
    box-shadow: rgb(163, 239, 247 / 50%) 0px 0px 0px 0.25rem;
}

.pink {
    color: white;
    border-color: rgb(252, 174, 207);
    border: 0px;
}

.pink:hover {
    color: rgb(252, 174, 207);
    background-color: rgb(252, 174, 207, .1);
}

.pink:focus {
    box-shadow: rgb(252, 174, 207 / 50%) 0px 0px 0px 0.25rem;;
}

.pink.active, .pink:active {
    background-color: rgb(252, 174, 207, .1);
    border-color: rgb(252, 174, 207);
    border: 0px;
}

.pink:active:focus, .pink.active:focus {
    box-shadow: rgb(252, 174, 207 / 50%) 0px 0px 0px 0.25rem;
}

.purple {
    color: white;
    border-color: rgb(189, 166, 255);
    border: 0px;
}

.purple:hover {
    color: rgb(189, 166, 255);
    background-color: rgb(189, 166, 255, .1);
}

.purple:focus {
    box-shadow: rgb(189, 166, 255 / 50%) 0px 0px 0px 0.25rem;;
}

.purple.active, .purple:active {
    background-color: rgb(189, 166, 255, .1);
    border-color: rgb(189, 166, 255);
    border: 0px;
}

.purple:active:focus, .purple.active:focus {
    box-shadow: rgb(189, 166, 255 / 50%) 0px 0px 0px 0.25rem;
}

.orange:disabled, .blue:disabled, .pink:disabled, .purple:disabled {
    color: white;
}