/* Code inspired by Ming Wang @ https://zmwang622.github.io/ */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    h1 {
        font-family: canada-type-gibson, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 3rem;
        color: white;
    }
    #header_ticker {
        width: 24rem;
        height: 3.7rem;
        padding-left: 1em;
        background-color: #7289da;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    }

}
@media (min-width: 768px) {
    h1 {
        font-family: canada-type-gibson, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 5rem;
        color: white;
    }
    #header_ticker {
        width: 39rem;
        height: 6.3rem;
        padding-left: 1em;
        background-color: #7289da;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    }
}

h2 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    color: white;
}

h3 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: white;
}

p {
    /* font-family: Whitney,Helvetica Neue, Helvetica, Arial, sans-serif;  */
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
}

span {
    /* font-family: Whitney,Helvetica Neue, Helvetica, Arial, sans-serif;  */
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: white;
}

#head {
    background-color: #393c43;
    height: 80vh;
    width: 100vw;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.363);
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
}

#header-text {
    height: inherit;
    width: inherit
}

#header_text h1 { 
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    font-style: normal;
}

#header_ticker h1 {
    font-weight: 100;
    font-style: italic;
    margin-top: .1em;
}

.slide-fade-enter-active {
    transition: all .8s ease-in-out;
}

.slide-fade-leave-active {
    transition: all .8s ease-in-out;
}

.slide-fade-enter-from {
    transform: translateY(1em);
    opacity: 0;
    
}
.slide-fade-leave-to {
    transform: translateY(-1em);
    opacity: 0;
}

canvas {
    position: absolute;
    width: inherit;
    z-index: 1;
    height: inherit;
}

body {
    font-family: Whitney,Helvetica Neue, Helvetica, Arial, sans-serif;

    /* margin: 20px; */

    background: #2f3136;
}

#content {
    margin-top: 50px;
    text-align: center;
}

section.timeline-outer {
    width: 80%;
    margin: 0 auto;
}

.timeline {
    border-left: 10px solid #66bb6a;
    color: white;
    margin: 50px auto;
    margin-left: 30%;
    margin-right: 20%;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 20px;
    list-style: none;
    text-align: left;
}

.timeline h1, .timeline h2, .timeline h3 {
    font-size: 1.4em;
}

.timeline .event {
    padding: 2px 15px 2px 15px;
    margin-bottom: 20px;
    background-color: #393c43;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

.timeline p {
    margin: 10px 10px 15px 10px;
}

.timeline .event i {
    margin: 6px 0 0 -28px;
    position: absolute;
}

.timeline .event:before, .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -177.5px;
    top: 20px;
    color: white;
    content: attr(data-date);
    text-align: right;
    font-size: 17px;
    min-width: 110px;
    max-width: 110px;
}

.timeline .event:after {
    box-shadow: 0 0 0 3px #0d47a1;
    left: -30px;
    background: #0d47a1;
    margin-top: 20px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.timeline-hr {
    border-top: 0.5px solid #333;
    border-bottom: 0px solid #333;
}

/* .place {
    font-family: "Circular Bold", Arial;
    line-height: 1em;
    margin-bottom: -15px
} */

.title {
    line-height: 1em;
    font-size: 1.2em !important;
}

.location {
    line-height: 1em;
    margin-top: -10px;
    font-size: 1.2em !important;
}


@media (max-width: 945px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 100%;
        font-size: 13px;
        text-align: center;
        margin-top: -10px;
    }
    .timeline {
        margin-left: 0;
    }
    .timeline h3 {
        font-size: 16px;
    }
    section.lab h3.card-title {
        padding: 5px;
        font-size: 16px
    }
    .place {
        margin-top: 30px;
        font-size: 18px !important;
    }
    .experience_bullets {
        margin-bottom: 15px;
    }
    .place, .title, .location {
        text-align: center;
    }
    .timeline .event:before {
        content: attr(data-date);
        text-align: center;
        font-size: 15px !important;
    }
}

@media (max-width: 768px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 100%;
        text-align: center;
        font-size: 13px;
        margin-top: -10px;
    }
    .timeline h3 {
        font-size: 16px;
    }
    .place {
        margin-top: 30px;
        font-size: 18px !important;
    }
    .experience_bullets {
        margin-bottom: 15px;
    }
    .place, .title, .location {
        text-align: center;
    }
    .social_links_box a i {
        font-size: 1em;
    }
}

hr {
    border: none;
    height: 1px;
    background-color: black;
    width: 80%;
    margin: auto;
}

.stat-block {
    background-color: #393c43;
    border-radius: 5px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.stat-block p.verb {
    font-style: normal;
}

.stat-block p.inlined {
    font-style: normal;
}

.number { 
    font-style: normal;
    font-weight: 600;
    color: #2f3136;
    font-size: xx-large;
    text-align: center;
    width: fit-content;
    padding-right: .3em;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

span.number {
    margin-left: 0.1em;
    margin-right: 0.1em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

#stats div.stat-block hr {
    width: 150%;
    position: relative;
    left: -10%;
    border: 1px solid #0b0c0e;
}

#stats div.stat-block p.subdata {
    padding-top: 0.5em;
    font-size: 1.5em;
}

#stats div.stat-block .subnumber {
    border-radius: 5px;
    color: #2f3136;
    font-weight: 600;
    font-size: 1em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

#stats div.stat-block .noun {
    padding-top: 0.9em;
    font-style: normal;
    text-align: right;
    margin-bottom: 0;
}

.orange {
    background-color: #ffd294;
}
.blue {
    background-color: #a3eff7;
}
.pink {
    background-color: #fcaecf;
}
.purple {
    background-color: #bda6ff;
}

.container {
    font-family: canada-type-gibson, sans-serif;
}

span.subtext {
    color:#aab2b9;
}

span.d-highlight {
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 0 2px;
    padding-left: 3px;
    padding-right: 3px;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    color: #7289da;
    background: rgba(114,137,218,.1);
    position: relative;
}

span.d-highlight:hover {
    color: white;
    background-color: #7289da;
    transition: background-color 50ms ease-out,color 50ms ease-out;
    cursor: pointer;
}

#nameList {
    background-color: #2f3136;
    color: white;
}

button span {
    font-size: 1rem;
}

.lb-move {
    transition: transform 0.75s;
}

.lb-enter-active {
  transition: 0.75s ease;
}

.lb-leave-active {
    visibility: hidden;
    position: absolute;
}

.lb-leave-to {
    visibility: hidden;
    position: absolute;
}

.lb-enter-from {
    opacity: 0;
    transform: translateY(40px);
}

.emoji {
    -o-object-fit: contain;
    object-fit: contain;
    width: 1.375em;
    height: 1.375em;
    vertical-align: text-bottom;
}

img[alt] {
    text-indent: -9999px;
}

.message {
    min-height: 2.75rem;
    padding-left: 56px;
    position: relative;
    flex: 0 0 auto;

    margin-bottom: 1em;
}

.name-bar {
    flex: 0 0 auto;
    padding: 0;
    margin-top: 1em;
}

.name-ts {
    padding: 0;
    margin: 0px !important;

    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.name {
    margin-right: .25rem;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;

    position: static;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}

.timestamp {
    position: relative;
    min-height: 1.375rem;

    margin: 0;
    padding: 0;
    border: 0;
    font-style: inherit;
    font-family: inherit;

    height: 1.25rem;
    cursor: default;
    pointer-events: none;
    font-weight: 500;

    margin-left: .25rem;

    font-size: 0.75rem;
    line-height: 1.375rem;
    color: #72767d;
    vertical-align: baseline;
}

.avatar {
    position: absolute;
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message-extras {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: .25rem;
    text-indent: 0;
    min-height: 0;
    min-width: 0;
    padding-top: .125rem;
    padding-bottom: .125rem;
    position: relative;
}

.attachment {
    justify-self: start;
    -ms-flex-item-align: start;
    align-self: start;
    position: relative;
}

.attachment img {
    width: 90%;
    border-radius: 3px;
}

.reactions {
    justify-self: start;
    -ms-flex-item-align: start;
    align-self: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -.25rem;
    padding-bottom: .125rem;
}

.russell {
    color: rgb(100, 187, 111);
}
.kian {
    color: rgb(241, 196, 15);
}
.jacob {
    color: rgb(113, 168, 231);
}
.sergei {

}