/* Code inspired by Ming Wang @ https://zmwang622.github.io/ */

h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    color: white;
}

p {
    /* font-family: Whitney,Helvetica Neue, Helvetica, Arial, sans-serif;  */
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: white;
}

span {
    /* font-family: Whitney,Helvetica Neue, Helvetica, Arial, sans-serif;  */
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: white;
}

#head {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-style: italic;
    
    /* position: relative; */
    background-color: #393c43;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    /* width: 100%; */
    height: 400px;

    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.363);
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
    /* border-radius: 8px; */

    /* display: flex; */
}

#header_info {
    /* margin-top: 3em; */
    /* width: 100%; */
    /* margin-right: 0;
    margin-left: 0; */
    /* max-width: 50vw; */
}

#header_text {
    /* padding-top: 11em; */

    display: block;
    text-align: right;

}

#header_text h1 { 
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    font-style: normal;
}

#head canvas, #header_info {
    width: 100%;
    /* margin: auto; */
}

#header_ticker {
    width: 330px;
    height: 3.2em;
    padding-left: 1em;
    background-color: #7289da;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

#header_ticker h1 {
    font-weight: 100;
    font-style: italic;
    margin-top: .1em;
}

.slide-fade-enter-active {
    transition: all .8s ease-in-out;
}

.slide-fade-leave-active {
    transition: all .8s ease-in-out;
}

.slide-fade-enter-from {
    transform: translateY(1em);
    opacity: 0;
    
}
.slide-fade-leave-to {
    transform: translateY(-1em);
    opacity: 0;
}

canvas {
    position: absolute;
    width: inherit;
    z-index: 1;
    height: inherit;
}

body {
    font-family: Whitney,Helvetica Neue, Helvetica, Arial, sans-serif;

    /* margin: 20px; */

    background: #2f3136;
}

#content {
    margin-top: 50px;
    text-align: center;
}

section.timeline-outer {
    width: 80%;
    margin: 0 auto;
}

.timeline {
    border-left: 10px solid #66bb6a;
    color: white;
    margin: 50px auto;
    margin-left: 30%;
    margin-right: 20%;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 20px;
    list-style: none;
    text-align: left;
}

.timeline h1, .timeline h2, .timeline h3 {
    font-size: 1.4em;
}

.timeline .event {
    padding: 2px 15px 2px 15px;
    margin-bottom: 20px;
    background-color: #393c43;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

.timeline p {
    margin: 10px 10px 15px 10px;
}

.timeline .event i {
    margin: 6px 0 0 -28px;
    position: absolute;
}

.timeline .event:before, .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -177.5px;
    top: 20px;
    color: white;
    content: attr(data-date);
    text-align: right;
    font-size: 17px;
    min-width: 110px;
    max-width: 110px;
}

.timeline .event:after {
    box-shadow: 0 0 0 3px #0d47a1;
    left: -30px;
    background: #0d47a1;
    margin-top: 20px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.timeline-hr {
    border-top: 0.5px solid #333;
    border-bottom: 0px solid #333;
}

/* .place {
    font-family: "Circular Bold", Arial;
    line-height: 1em;
    margin-bottom: -15px
} */

.title {
    line-height: 1em;
    font-size: 1.2em !important;
}

.location {
    line-height: 1em;
    margin-top: -10px;
    font-size: 1.2em !important;
}


/* @media (max-width: 945px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 100%;
        font-size: 13px;
        text-align: center;
        margin-top: -10px;
    }
    .timeline {
        margin-left: 0;
    }
    .timeline h3 {
        font-size: 16px;
    }
    section.lab h3.card-title {
        padding: 5px;
        font-size: 16px
    }
    .place {
        margin-top: 30px;
        font-size: 18px !important;
    }
    .experience_bullets {
        margin-bottom: 15px;
    }
    .place, .title, .location {
        text-align: center;
    }
    .timeline .event:before {
        content: attr(data-date);
        text-align: center;
        font-size: 15px !important;
    }
}

@media (max-width: 768px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 100%;
        text-align: center;
        font-size: 13px;
        margin-top: -10px;
    }
    .timeline h3 {
        font-size: 16px;
    }
    .place {
        margin-top: 30px;
        font-size: 18px !important;
    }
    .experience_bullets {
        margin-bottom: 15px;
    }
    .place, .title, .location {
        text-align: center;
    }
    .social_links_box a i {
        font-size: 1em;
    }
} */

hr {
    border: none;
    height: 1px;
    background-color: black;
    width: 80%;
    margin: auto;
}

#stats {
    /* display: flex; */
    /* max-width: 60%; */
    /* margin: auto; */
    /* padding-left: 10em;
    padding-right: 10em; */
    /* flex-wrap: wrap; */
    /* justify-content: center;
    flex-direction: row; */
}

#stats div.stat-block {
    /* margin-top: 1.5em;
    margin-left: 0.75em;
    margin-right: 0.75em; */
    background-color: #393c43;
    /* max-width: fit-content; */
    border-radius: 5px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#stats div.stat-block p {
    /* padding-left: 0.3em; */
}

#stats div.stat-block p.verb {
    /* padding-top: 0.4em; */
    font-style: normal;
}

#stats div.stat-block p.inlined {
    /* margin-top: 0.4em;
    padding-top: 0.4em; */
    font-style: normal;
}

.number { 
    font-style: normal;
    font-weight: 600;
    color: #2f3136;
    font-size: xx-large;
    text-align: center;
    /* background-color: #a3eff7; */
    width: fit-content;
    padding-right: .3em;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

#stats div.stat-block p.number {
    /* padding-top: .15em; */
    /* padding-right: .3em; */
    /* margin-left: 2em;
    margin-right: 2em; */
}

span.number {
    /* padding-top: .15em;
    padding-left: .3em; */
    margin-left: 0.1em;
    margin-right: 0.1em;
    /* margin-top: 2em; */
}

#stats div.stat-block hr {
    width: 150%;
    position: relative;
    left: -10%;
    border: 1px solid #0b0c0e;
}

#stats div.stat-block p.subdata {
    padding-top: 0.5em;
    font-size: 1.5em;
}

#stats div.stat-block .subnumber {
    border-radius: 5px;
    color: #2f3136;
    font-weight: 600;
    font-size: 1em;
    /* padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.2em; */
}

#stats div.stat-block .noun {
    padding-top: 0.9em;
    font-style: normal;
    text-align: right;
    /* vertical-align: bottom; */
    margin-bottom: 0;
}

.orange {
    background-color: #ffd294;
}
.blue {
    background-color: #a3eff7;
}
.pink {
    background-color: #fcaecf;
}
.purple {
    background-color: #bda6ff;
}