
.slide-enter-active {
    transition: all 1s ease;
}

.slide-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-enter-from,
.slide-leave-to {
    transform: translateY(60px);
    opacity: 0;
}

#whydApp * .message-block {
    font-size: 1rem;
}

.whydmsg {
    max-width: fit-content;
    max-width: -moz-fit-content;
}